/* General */
@font-face {
    font-family: Courgette;
    src: url("../assets/fonts/Courgette-Regular.ttf");
}

html, body, .main {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

body {
    padding-top: 50px;
}

.navbar {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    height: 50px;
}

.show {
    padding-bottom: 0.2rem;
}

.container-fluid {
    background-color: inherit;
}

.navbar .navbar-brand {
    font-family: Courgette, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
  }

.nav-item i {
    margin-right: 0.3rem;
    margin-left: 0.6rem;
    color: white;
}

.map {
    width: auto;
    height: 100%;
}

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #56829e ;
    border-radius: 50%;width: 60px;
    height: 60px; 
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* modal styles */

.img-div {
    display: flex;
    justify-content: space-between;
}

.general {
    background-color: #0d6efd;
    color: white;
}

.blue {
    color: #0d6efd;
}

.currency {
    background-color: rgb(107, 192, 22);
    color: white;
}

.green {
    color: rgb(107, 192, 22);
}

.travel {
    background-color: red;
    color: white;
}

.red {
    color: red;
}

.covid {
    background-color: violet;
    color: white;
}

.violet {
    color: violet;
}

/* btn styles */

.state-general-btn {
    color: #0d6efd;
}

.state-currency-btn {
    color: rgb(107, 192, 22);
}

.state-travel-btn {
    color: red;
}

.state-weather-btn {
    color: yellow;
}

.state-covid-btn {
    color: violet;
}
/* image styles */

.flag-container {
    max-width: 220px;
    height: auto;
    margin: auto;
}

.coa-container {
    max-width: 220px;
    height: auto;
    margin: auto; 
}

img {
    max-width: 100%;
    max-height: 100%;   
}

.modal-body {
    margin: auto;
}

/* popup */

.capital-popup {
    font-family: Courgette, Helvetica, sans-serif;
}

/* media queries */

@media screen and (max-height: 675px) {
    .sidebar-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        overflow-y: scroll;
    }

    .img-div {
        display: block;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
    }
}